/* Make sure html and body take up the full screen */
html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
                 'Lucida Grande', 'Lucida Sans Unicode',
                 Geneva, Verdana, sans-serif;

    text-align: center;
}

/* Center the .main block */
.main {
    margin: auto;           /* auto top, bottom, left, right */
    width: fit-content;     /* shrink to fit the text */
    height: fit-content;    /* let browser calculate height */
}

.header {
    font-size: 36px;
    color: blue;
    font-weight: bold;
}

.pera {
    font-size: 18px;
    color: brown;
    font-weight: lighter;
